<table *ngFor="let potentialAppointmentMatrix of potentialAppointmentsFullStructure; index as i" style="width: 100%; text-align:center">

  
  <tr *ngIf="i == 0">
    <td style="font-size: x-large"colspan="3" *ngFor="let currentDay of currentDaysOfWeek">{{currentDay}}</td>
  </tr>
  <th style="background-color:#4e4e4e" colspan="3" *ngFor="let currentDay of currentDaysOfWeek">{{potentialAppointmentMatrix.timeSlot}}</th>

  <tr *ngFor="let potentialAppointmentArray of potentialAppointmentMatrix.appointmentMatrix">
    <td *ngFor="let appointment of potentialAppointmentArray" (click)="getAppointments(potentialAppointmentMatrix.timeSlot, 0)">{{appointment.index}}</td>

  </tr>

</table>